footer{
    background:linear-gradient(220.94deg, #272524 14.43%, #2c2c2c 85.28% );
    @include responsive(s){
        height: auto;
      }
}

.footerimg{
  width: 60%;
  margin-left: 90px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive(s){
    height: auto;
    margin-left: 90px;
  }

}